.login {
  background-color: #e9ebee;
  height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login__container {
  width: 600px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
}

.login__container > h3 {
  margin-top: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.login__container > form > center > input {
  height: 30px;
  width: 300px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 0.5px solid gray;
  padding: 5px;
}

.login__login {
  background-color: #4267b2;
  border: none;
  color: white;
  border-radius: 2px;
  width: 300px;
  margin-top: 10px;
  height: 40px;
  cursor: pointer;
}

.login__container > form > center > hr {
  margin: 25px;
  color: rgb(221, 221, 221);
  border: 1px solid;
  width: 100px;
}

.login__container > form > center > h6 {
  margin: 20px;
  color: #4267b2;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.login__createNewAccount {
  background-color: rgb(66, 183, 42);
  border: none;
  color: white;
  border: 2px;
  margin-bottom: 10px;
  height: 40px;
  width: 200px;
}

.login__createNewAccount:hover {
  background-color: #32971e;
  transition: 0.2s;
  cursor: pointer;
}
